.edit-form {
  display: none;
  flex-direction: column;
  position: absolute;
  visibility: hidden;
  top: 100px;
  left: 250px;
  z-index: 10;
  row-gap: 15px;
  opacity: 0.9;
  padding: 40px;
  width: 400px;
  background-color: lightblue;
}

.edit-category {
  display: none;
  position: absolute;
  opacity: 0.9;
  column-gap: 10px;
  top: 100px;
  left: 488px;
  z-index: 10;
  visibility: hidden;
  padding: 30px;
  width: 350px;
  background-color: lightblue;
}

.is-active {
  display: flex;
  visibility: visible;
}

