.footer {
  position: relative;
}

.footer__title {
  margin-bottom: 20px;
}

.form {
  display: flex;
  column-gap: 10px;
  margin-bottom: 10px;
  width: 1000px;
}

.form-category {
  display: flex;
  column-gap: 10px;
  width: 1000px;
}
