.container {
  max-width: 1170px;
  width: 100%;
  padding-inline: 15px;
  margin-inline: auto ;
}
body {
  position: relative;
}

span {
  margin: 0;
}


.header {
  display: flex;
  padding-block: 40px;
}