.cream-shop {
  margin-bottom: 70px;
  position: relative;

  &-table__title {
    display: flex;
    column-gap: 130px;
    margin-bottom: 10px;
  }

}

.test {
  display: flex;
}

.table-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  &__item {
    display: flex;
    justify-content: space-between;
  }
}

.table-list__id {
  margin-right: 150px;
}

.table-list__name, .table-list__manufacturer, .table-list__price {
  width: 250px;
}





